:root{
  --primary: #4628ff;
  --danger: #eb3f27;
  --warning: #ffd028;
  --success: #75fa83;
  --white: #fdfdfd;
  --dark: #181717;
}

.button{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
  transition: tranform .3s ease;
  -webkit-transition: tranform .3s ease;
  -moz-transition: tranform .3s ease;
  -ms-transition: tranform .3s ease;
  -o-transition: tranform .3s ease;
}

.button:hover{
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  color: black; 
}

/* Button Colors and Styles */
.button--primary--solid {
  background-color: var(--primary);
  color: var(--white);
  border: none; 
}

.button--danger--solid {
  background-color: var(--danger);
  color: var(--white);
  border: none; 
}

.button--warning--solid {
  background-color: var(--warning);
  color: var(--white);
  border: none; 
}

.button--success--solid {
  background-color: var(--success);
  color: var(--white);
  border: none; 
}

.button--primary--outline {
  background-color: transparent;
  color: var(--primary);
  border: 2px solid var(--primary); 
}

.button--warning--outline {
  background-color: transparent;
  color: var(--warning);
  border: 2px solid var(--warning); 
}

.button--danger--outline {
  background-color: transparent;
  color: var(--danger);
  border: 2px solid var(--danger); 
}

.button--success--outline {
  background-color: transparent;
  color: var(--success);
  border: 2px solid var(--success); 
}

/* BUTTON Size */


.button--medium{
  padding: 10px 20px;
  font-size: 30px;
}

.button--large{
  padding: 30px 80px;
  font-size: 150px;
}

.button--xlarge{
  padding: 50px 100px;
  font-size: 200px;
}

